# Assessment for DE Internship at DataGrokr

# Section 1: Environment setup and data cleaning

In [46]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).


# Locate the file in google drive

In [47]:
Path = 'drive/My Drive/HOUSING-DATASET'

# Reading the dataset into dataframe

In [48]:
import pandas as pd
df = pd.read_csv(Path+'/HousingDataset.csv')
df.head(10)

<ipython-input-48-d89187e4db7a>:2: DtypeWarning: Columns (5,6,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(Path+'/HousingDataset.csv')

,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,l3,...,bathrooms,surface_total,surface_covered,price,currency,price_period,title,description,property_type,operation_type
0,YhXDVa/KIlF7EjJMulHiyA==,Propiedad,3/26/2020,4/8/2020,3/26/2020,-34.562465,-58.465079,Argentina,Capital Federal,Belgrano,...,2.0,NaN,NaN,220000.0,USD,NaN,OPPEL | Departamento en Venta | Cod: 29583,DEPARTAMENTO EN VENTA / ALQUILER | BELGRANO ...,Departamento,Venta
1,jHxD7psAg4+AC07T3sognw==,Propiedad,3/8/2020,3/9/2020,3/8/2020,-37.999235,-57.553724,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,...,1.0,NaN,NaN,155000.0,USD,NaN,2 AMBIENTES A ESTRENAR CON COCHERA,2 AMBIENTES CON BALCON Y PARRILLA. COCHERALIV...,Otro,Venta
2,IYPdaIGi5Obo4eLzwUY+LA==,Propiedad,10/26/2020,2/3/2021,10/26/2020,-34.453307,-58.64941,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,...,3.0,900.0,310.0,480000.0,USD,Mensual,"Casa en Venta, Barrio Sta. Barbara","Casa racionalista en tres plantas, con espacio...",Casa,Venta
3,Cc8bVzOhRcPnAYS++8oyMg==,Propiedad,1/7/2020,1/7/2020,1/7/2020,-31.635173,-60.716072,Argentina,Santa Fe,NaN,...,4.0,NaN,NaN,34000.0,ARS,Mensual,"Casa en Alquiler en Constituyentes, Santa fe $...",ALQUILER DE CASA DE 3 / 4 DORMITORIOS EN ZONA ...,Casa,Alquiler
4,83DDzQ7686eLxOi9sQNJVA==,Propiedad,5/13/2020,5/17/2020,5/13/2020,NaN,NaN,Argentina,Santa Fe,Rosario,...,2.0,200.0,200.0,20000.0,ARS,NaN,Laprida 1418,Laprida 1418 - KP27922 - - Aviso publicado po...,Casa,Alquiler
5,lA5sBjVvZbpu9tqYTRmI9Q==,Propiedad,1/14/2021,12/31/9999,1/14/2021,-31.355595,-64.322712,Argentina,Córdoba,La Calera,...,NaN,NaN,NaN,72000.0,USD,Mensual,LA DESEADA - LOTE 1300 Mts - IMPERDIBLE!!!,OLSEN Propiedades tiene el agrado de presentar...,Lote,Venta
6,4FwVy3iWEy3R/rccYuHlYw==,Propiedad,11/3/2020,12/31/9999,11/3/2020,-34.655501,-58.498069,Argentina,Capital Federal,Mataderos,...,1.0,51.0,30.0,61900.0,USD,Mensual,PRE POZO 1 AMB- Mataderos,"Venta de Pre-Pozo Mataderos, CABA<br><br>Monoa...",Departamento,Venta
7,gRldCIB6Yo0pALjex3q2YA==,Propiedad,3/11/2020,3/11/2020,3/11/2020,-37.96141,-57.621755,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,...,1.0,NaN,NaN,8500.0,ARS,Mensual,PP PH de un ambiente amplio con patio,"Ph de un ambiente comodo, cocina semi integrad...",Otro,Alquiler
8,2OMatxA5CX9Tf/vC5UgAvQ==,Propiedad,11/13/2020,11/20/2020,11/13/2020,-32.858025,-60.703518,Argentina,Santa Fe,Granadero Baigorria,...,1.0,400.0,38.0,15000.0,ARS,NaN,Calfucura 700 - $ 15.000 - Casa Alquiler,BARRIO: Martin Fierro – Granadero Baigo...,Casa,Alquiler
9,Fjyrj6Na/s09yGUbEpmVWg==,Propiedad,10/22/2020,12/31/9999,10/22/2020,-32.94154,-60.646873,Argentina,Santa Fe,Rosario,...,1.0,86.0,NaN,168541.0,USD,NaN,Italia 500 - U$D 168.541 - Departamento en V...,"ITALIA 519Monos, 1 y 2 dormitorios de calidadE...",Departamento,Venta

#Checking the dimension of the dataset

In [49]:
df.shape

(500045, 25)

# Clean the DF using the following steps:
• Identify and remove the following columns:
a. ad_type
b. title
c. description
d. l4
e. l5
f. l6

In [50]:
# 'df' is the DataFrame
columns_to_remove = ['ad_type', 'title', 'description', 'l4', 'l5', 'l6']
df_cleaned = df.drop(columns=columns_to_remove)
df_cleaned

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,price_period,property_type,operation_type
0,YhXDVa/KIlF7EjJMulHiyA==,3/26/2020,4/8/2020,3/26/2020,-34.562465,-58.465079,Argentina,Capital Federal,Belgrano,3.0,2.0,2.0,NaN,NaN,220000.0,USD,NaN,Departamento,Venta
1,jHxD7psAg4+AC07T3sognw==,3/8/2020,3/9/2020,3/8/2020,-37.999235,-57.553724,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,NaN,NaN,1.0,NaN,NaN,155000.0,USD,NaN,Otro,Venta
2,IYPdaIGi5Obo4eLzwUY+LA==,10/26/2020,2/3/2021,10/26/2020,-34.453307,-58.64941,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,NaN,3.0,3.0,900.0,310.0,480000.0,USD,Mensual,Casa,Venta
3,Cc8bVzOhRcPnAYS++8oyMg==,1/7/2020,1/7/2020,1/7/2020,-31.635173,-60.716072,Argentina,Santa Fe,NaN,4.0,3.0,4.0,NaN,NaN,34000.0,ARS,Mensual,Casa,Alquiler
4,83DDzQ7686eLxOi9sQNJVA==,5/13/2020,5/17/2020,5/13/2020,NaN,NaN,Argentina,Santa Fe,Rosario,9.0,9.0,2.0,200.0,200.0,20000.0,ARS,NaN,Casa,Alquiler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500040,ailCN2RrVgXSnA31iplzvQ==,4/10/2020,12/31/9999,4/10/2020,-34.639347,-58.624244,Argentina,Bs.As. G.B.A. Zona Oeste,Morón,3.0,2.0,1.0,NaN,NaN,75000.0,USD,NaN,Casa,Venta
500041,9HgS75xxIbBCz3UDXozZxg==,10/30/2020,11/16/2020,10/30/2020,-34.581372,-58.423458,Argentina,Capital Federal,Palermo,1.0,1.0,1.0,46.0,38.0,171465.0,USD,NaN,Departamento,Venta
500042,5WGZjySGb/v71THZsSBd0g==,9/1/2020,9/4/2020,9/1/2020,-34.391805,-58.628711,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,9.0,5.0,5.0,500.0,450.0,1200000.0,USD,Mensual,Casa,Venta
500043,o6baJ7/M9KbP0uullyOI4w==,3/4/2020,3/6/2020,3/4/2020,-31.460932,-64.351769,Argentina,Córdoba,Malagueño,NaN,NaN,1.0,NaN,NaN,65000.0,USD,NaN,Otro,Venta
500044,fy9KMhSX82YzpoFDYEx1Lg==,8/2/2020,8/3/2020,8/2/2020,-34.764487,-58.399399,Argentina,Bs.As. G.B.A. Zona Sur,Lomas de Zamora,3.0,2.0,1.0,NaN,NaN,20000.0,ARS,NaN,Departamento,Alquiler

# Investigate and discard all rows that contain Null values in any of these fields:
a. lon
b. lat
c. price_period
d. bedrooms
e. surface_total
f. rooms
g. price
h. surface_covered

In [51]:
# 'df_cleaned' is the cleaned DataFrame
columns_to_check = ['lon', 'lat', 'price_period', 'bedrooms', 'surface_total', 'rooms', 'price', 'surface_covered']
df_cleaned = df_cleaned.dropna(subset=columns_to_check)
df_cleaned

,id,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,price_period,property_type,operation_type
15,5Be4XjP4b1Olk02vXOHLqA==,7/31/2020,8/28/2020,7/31/2020,-34.557563,-58.442389,Argentina,Capital Federal,Belgrano,4.0,3.0,4.0,155.0,150.0,195000.0,ARS,Mensual,Departamento,Alquiler
27,V+6946R1DSniL3DToznOBw==,12/16/2020,12/17/2020,12/16/2020,-34.602959,-58.46203,Argentina,Capital Federal,Paternal,4.0,3.0,3.0,181.0,181.0,235000.0,USD,Mensual,PH,Venta
99,w0i2gQ7n18T4QYlI3gHjtg==,1/5/2021,12/31/9999,1/5/2021,-34.57907,-58.403829,Argentina,Capital Federal,Palermo,4.0,2.0,2.0,230.0,211.0,2500.0,USD,Mensual,Departamento,Alquiler
112,+FVdVVYFmNvza0tOpXfi/A==,6/4/2020,6/25/2020,6/4/2020,-34.797896,-58.385961,Argentina,Bs.As. G.B.A. Zona Sur,Almirante Brown,3.0,2.0,2.0,70.0,65.0,195000.0,USD,Mensual,Departamento,Venta
123,Fg4t539n8vLsWIEQbZ4yPw==,10/22/2020,10/31/2020,10/22/2020,-34.599525,-58.403537,Argentina,Capital Federal,Balvanera,1.0,1.0,1.0,40.0,36.0,89999.0,USD,Mensual,Departamento,Venta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500030,RmXNws2019JAidTqtzJy2w==,6/8/2020,6/8/2020,6/8/2020,-34.435111,-58.561232,Argentina,Bs.As. G.B.A. Zona Norte,San Fernando,3.0,2.0,1.0,61.0,56.0,23000.0,ARS,Mensual,Departamento,Alquiler
500032,JpnJWzch98h+je5JL+ZR0Q==,6/2/2020,6/25/2020,6/2/2020,-34.404181,-58.648389,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,3.0,2.0,2.0,80.0,80.0,255000.0,USD,Mensual,Departamento,Venta
500033,NDC8YYYk9XKMzAfc72yVCw==,8/11/2020,8/13/2020,8/11/2020,-34.552139,-58.469208,Argentina,Capital Federal,Nuñez,2.0,1.0,1.0,50.0,50.0,25000.0,ARS,Mensual,Departamento,Alquiler
500036,mH5Ua+P7GkDCS6AkvAMVjg==,9/15/2020,10/16/2020,9/15/2020,-34.559318,-58.445475,Argentina,Capital Federal,Belgrano,2.0,1.0,2.0,54.0,45.0,70000.0,ARS,Mensual,Departamento,Alquiler
500042,5WGZjySGb/v71THZsSBd0g==,9/1/2020,9/4/2020,9/1/2020,-34.391805,-58.628711,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,9.0,5.0,5.0,500.0,450.0,1200000.0,USD,Mensual,Casa,Venta

# Once cleaning is done, separate the DF into 2 Tables.
One with property_details and another with property_price_details
and load them into SQL database on your local (Ex. SQLite, sqlalchemy). Columns for each should be given as mentioned
below.
Property_Details columns: id, start_date, end_date, created_on, lat, lon, l1, l2, l3, rooms, bedrooms, bathrooms,
surface_total, surface_covered
Property_Price_Details columns: id, price, currency, price_period, property_type, operation_type

# Create SQLAlchemy Engine:

Create a SQLAlchemy engine to connect to your local SQLite database:

In [52]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///house_database.db')

# Separate DataFrames:

Create two separate DataFrames, one for "Property_Details" and another for "Property_Price_Details":

In [53]:
property_details_columns = ['id', 'start_date', 'end_date', 'created_on', 'lat', 'lon', 'l1', 'l2', 'l3',
                            'rooms', 'bedrooms', 'bathrooms', 'surface_total', 'surface_covered']

property_price_details_columns = ['id', 'price', 'currency', 'price_period', 'property_type', 'operation_type']

property_details_df = df_cleaned[property_details_columns].copy()
property_price_details_df = df_cleaned[property_price_details_columns].copy()

# Load Data into SQL Database:

Use the to_sql() method to load the DataFrames into the SQL database:

In [54]:
property_details_df.to_sql('Property_Details', engine, if_exists='replace', index=False)
property_price_details_df.to_sql('Property_Price_Details', engine, if_exists='replace', index=False)

43436

# Section 2: Data Analysis

# Displaying the first few rows

In [55]:
from sqlalchemy import create_engine, text
import pandas as pd

# Defining the SQLite database file path
db_path = 'house_database.db'

# Creating a SQLAlchemy engine to connect to the SQLite database
engine = create_engine(f'sqlite:///{db_path}')

# Defining a function to print the first few rows of a table
def print_table(table_name):
    query = f"SELECT * FROM {table_name} LIMIT 5"
    with engine.connect() as conn:
        result = conn.execute(text(query))
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    print(f"Table: {table_name}")
    print(df)

# Printing the first few rows of each table
tables_to_print = ['Property_Details', 'Property_Price_Details']
for table in tables_to_print:
    print_table(table)

Table: Property_Details
                         id  start_date    end_date  created_on           lat  \
0  5Be4XjP4b1Olk02vXOHLqA==   7/31/2020   8/28/2020   7/31/2020   -34.5575633
1  V+6946R1DSniL3DToznOBw==  12/16/2020  12/17/2020  12/16/2020    -34.602959
2  w0i2gQ7n18T4QYlI3gHjtg==    1/5/2021  12/31/9999    1/5/2021   -34.5790704
3  +FVdVVYFmNvza0tOpXfi/A==    6/4/2020   6/25/2020    6/4/2020   -34.7978957
4  Fg4t539n8vLsWIEQbZ4yPw==  10/22/2020  10/31/2020  10/22/2020  -34.59952536

            lon         l1                      l2               l3 rooms  \
0   -58.4423887  Argentina         Capital Federal         Belgrano   4.0
1     -58.46203  Argentina         Capital Federal         Paternal   4.0
2    -58.403829  Argentina         Capital Federal          Palermo   4.0
3   -58.3859613  Argentina  Bs.As. G.B.A. Zona Sur  Almirante Brown   3.0
4  -58.40353734  Argentina         Capital Federal        Balvanera   1.0

   bedrooms  bathrooms  surface_total  surface_covered
0       3.0        4.0          155.0            150.0
1       3.0        3.0          181.0            181.0
2       2.0        2.0          230.0            211.0
3       2.0        2.0           70.0             65.0
4       1.0        1.0           40.0             36.0
Table: Property_Price_Details
                         id     price currency price_period property_type  \
0  5Be4XjP4b1Olk02vXOHLqA==  195000.0      ARS      Mensual  Departamento
1  V+6946R1DSniL3DToznOBw==  235000.0      USD      Mensual            PH
2  w0i2gQ7n18T4QYlI3gHjtg==    2500.0      USD      Mensual  Departamento
3  +FVdVVYFmNvza0tOpXfi/A==  195000.0      USD      Mensual  Departamento
4  Fg4t539n8vLsWIEQbZ4yPw==   89999.0      USD      Mensual  Departamento

  operation_type
0       Alquiler
1          Venta
2       Alquiler
3          Venta
4          Venta

# 1.Retrieve properties that have a price greater than 1 million and are located in "Estados Unidos" (l1).

In [56]:
# Query 1: Retrieve properties with a price greater than 1 million in "Estados Unidos" (l1)
query1 = """
SELECT PD.*
FROM Property_Details PD
JOIN Property_Price_Details PPD ON PD.id = PPD.id
WHERE PPD.price > 1000000 AND PD.l1 = 'Estados Unidos';
"""

# Executing the query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results1 = connection.execute(text(query1))
    df1 = pd.DataFrame(results1.fetchall(), columns=results1.keys())

# Printing the resulting DataFrame
print("\nQuery 1 Results:")
print(df1)

Query 1 Results:
                         id  start_date    end_date  created_on         lat  \
0  jia0r061K3bw5GPCHag4/Q==  10/26/2020  12/31/9999  10/26/2020  25.7643553
1  swvA3wM1Df6lwOBx4ciKJg==   9/15/2020  12/31/9999   9/15/2020  25.8875948
2  4tMKIwmJObpzvXuT/fFPnQ==    3/4/2020  10/16/2020    3/4/2020  25.9519943
3  7Aa4z2SWO2mp+P/JXdTmsA==    3/4/2020  10/16/2020    3/4/2020  25.9519943
4  fAv1rqL0LHZOiqDaDNwrzA==    3/4/2020  10/16/2020    3/4/2020  25.9519943

           lon              l1       l2    l3 rooms  bedrooms  bathrooms  \
0  -80.1930205  Estados Unidos  Florida  None   2.0       1.0        1.0
1  -80.1311564  Estados Unidos  Florida  None     3       2.0        2.0
2    -80.11997  Estados Unidos  Florida  None   9.0       3.0        5.0
3    -80.11997  Estados Unidos  Florida  None   9.0       4.0        5.0
4    -80.11997  Estados Unidos  Florida  None   5.0       2.0        2.0

   surface_total  surface_covered
0           87.0             87.0
1          242.0            168.0
2          373.0            283.0
3          530.0            385.0
4          206.0            123.0

# 2.Categorize properties based on their surface area as 'Small' if it's less than 50 square meters, 'Medium' if it's between 50 and 100 square meters, and 'Large' if it's greater than 100 square meters:

In [57]:
# Query 2: Categorize properties based on their surface area
# 'Small' if less than 50 square meters, 'Medium' if between 50 and 100 square meters, 'Large' if greater than 100 square meters
query2 = """
SELECT PD.*,
    CASE
        WHEN PD.surface_total < 50 THEN 'Small'
        WHEN PD.surface_total >= 50 AND PD.surface_total <= 100 THEN 'Medium'
        ELSE 'Large'
    END AS surface_category
FROM Property_Details PD;
"""

# Executing the query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results2 = connection.execute(text(query2))
    df2 = pd.DataFrame(results2.fetchall(), columns=results2.keys())

# Printing the resulting DataFrame
print("\nQuery 2 Results:")
print(df2)

Query 2 Results:
                             id  start_date    end_date  created_on  \
0      5Be4XjP4b1Olk02vXOHLqA==   7/31/2020   8/28/2020   7/31/2020
1      V+6946R1DSniL3DToznOBw==  12/16/2020  12/17/2020  12/16/2020
2      w0i2gQ7n18T4QYlI3gHjtg==    1/5/2021  12/31/9999    1/5/2021
3      +FVdVVYFmNvza0tOpXfi/A==    6/4/2020   6/25/2020    6/4/2020
4      Fg4t539n8vLsWIEQbZ4yPw==  10/22/2020  10/31/2020  10/22/2020
...                         ...         ...         ...         ...
43431  RmXNws2019JAidTqtzJy2w==    6/8/2020    6/8/2020    6/8/2020
43432  JpnJWzch98h+je5JL+ZR0Q==    6/2/2020   6/25/2020    6/2/2020
43433  NDC8YYYk9XKMzAfc72yVCw==   8/11/2020   8/13/2020   8/11/2020
43434  mH5Ua+P7GkDCS6AkvAMVjg==   9/15/2020  10/16/2020   9/15/2020
43435  5WGZjySGb/v71THZsSBd0g==    9/1/2020    9/4/2020    9/1/2020

                lat           lon         l1                        l2  \
0       -34.5575633   -58.4423887  Argentina           Capital Federal
1        -34.602959     -58.46203  Argentina           Capital Federal
2       -34.5790704    -58.403829  Argentina           Capital Federal
3       -34.7978957   -58.3859613  Argentina    Bs.As. G.B.A. Zona Sur
4      -34.59952536  -58.40353734  Argentina           Capital Federal
...             ...           ...        ...                       ...
43431   -34.4351113   -58.5612323  Argentina  Bs.As. G.B.A. Zona Norte
43432   -34.4041807   -58.6483889  Argentina  Bs.As. G.B.A. Zona Norte
43433    -34.552139   -58.4692077  Argentina           Capital Federal
43434   -34.5593183   -58.4454754  Argentina           Capital Federal
43435  -34.39180493  -58.62871074  Argentina  Bs.As. G.B.A. Zona Norte

                    l3 rooms  bedrooms  bathrooms  surface_total  \
0             Belgrano   4.0       3.0        4.0          155.0
1             Paternal   4.0       3.0        3.0          181.0
2              Palermo   4.0       2.0        2.0          230.0
3      Almirante Brown   3.0       2.0        2.0           70.0
4            Balvanera   1.0       1.0        1.0           40.0
...                ...   ...       ...        ...            ...
43431     San Fernando   3.0       2.0        1.0           61.0
43432            Tigre   3.0       2.0        2.0           80.0
43433            Nuñez   2.0       1.0        1.0           50.0
43434         Belgrano   2.0       1.0        2.0           54.0
43435            Tigre   9.0       5.0        5.0          500.0

       surface_covered surface_category
0                150.0            Large
1                181.0            Large
2                211.0            Large
3                 65.0           Medium
4                 36.0            Small
...                ...              ...
43431             56.0           Medium
43432             80.0           Medium
43433             50.0           Medium
43434             45.0           Medium
43435            450.0            Large

[43436 rows x 15 columns]

# 3.List all properties (id) in the "Belgrano" neighborhood (l3) that have the same number of bedrooms and bathrooms as another property in the dataset:

In [58]:
# Query 3: List properties in "Belgrano" (l3) with the same number of bedrooms and bathrooms as another property
query3 = """
SELECT PD.id
FROM Property_Details PD
WHERE PD.l3 = 'Belgrano' AND (PD.bedrooms, PD.bathrooms) IN (
    SELECT PD2.bedrooms, PD2.bathrooms
    FROM Property_Details PD2
    GROUP BY PD2.bedrooms, PD2.bathrooms
    HAVING COUNT(*) > 1
);
"""

# Executing the query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results3 = connection.execute(text(query3))
    df3 = pd.DataFrame(results3.fetchall(), columns=results3.keys())

# Printing the resulting DataFrame
print("\nQuery 3 Results:")
print(df3)

Query 3 Results:
                            id
0     5Be4XjP4b1Olk02vXOHLqA==
1     F+GF0xxgEoQ8FHaSUbPxfQ==
2     3l0RfMrJh4v53riOmSUgVQ==
3     kU5f32VoLFhgCXHoj42S/A==
4     I5Qis31CnRAmOOYrS28M/Q==
...                        ...
2320  6YlEW++cof1VIYq2VwrNDw==
2321  uOWYd9pNtIVEkIIZD/VuQg==
2322  Ci6LpIjLs5ZS0f0A7uRrKA==
2323  IVvpfKrIFdSgaQwbiNjPlA==
2324  mH5Ua+P7GkDCS6AkvAMVjg==

[2325 rows x 1 columns]

# 4.Calculate the average price per square meter (price / surface_total) for each property type (property_type) in the "Belgrano" neighborhood (l3):

In [59]:
# Query 4: Calculate average price per square meter for each property type (property_type) in "Belgrano" (l3)
query4 = """
SELECT property_type, AVG(price / surface_total) AS avg_price_per_sqm
FROM Property_Price_Details,Property_Details
WHERE l3 = 'Belgrano'
GROUP BY property_type;
"""

# Executing the query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results4 = connection.execute(text(query4))
    df4 = pd.DataFrame(results4.fetchall(), columns=results4.keys())

# Printing the resulting DataFrame
print("\nQuery 4 Results:")
print(df4)

Query 4 Results:
     property_type  avg_price_per_sqm
0             Casa        3872.644100
1    Casa de campo        2785.603929
2          Cochera         407.861011
3     Departamento        4602.231680
4         Depósito        2693.835201
5  Local comercial        3851.258503
6             Lote        5205.766497
7          Oficina        1657.622619
8             Otro        5392.633648
9               PH        1915.206590

# 5.Identify properties that have a higher price than the average price of properties with the same number of bedrooms and bathrooms.

In [60]:
# Query 5: Identify properties that have a higher price than the average price of properties with the same number of bedrooms and bathrooms
query5 = """
SELECT pd.id, pd.bedrooms, pd.bathrooms, pp.price
FROM Property_Details pd
INNER JOIN Property_Price_Details pp ON pd.id = pp.id
WHERE pp.price > (
    SELECT AVG(price)
    FROM Property_Price_Details
    WHERE bedrooms = pd.bedrooms
    AND bathrooms = pd.bathrooms
) LIMIT 10;
"""

# Executing the corrected query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results5 = connection.execute(text(query5))
    df5 = pd.DataFrame(results5.fetchall(), columns=results5.keys())

# Printing the resulting DataFrame
print("\nCorrected Query 5 Results:")
print(df5)

Corrected Query 5 Results:
                         id  bedrooms  bathrooms      price
0  eHozoAsySh4plT4G4o7ZAw==       1.0        1.0   360000.0
1  F+GF0xxgEoQ8FHaSUbPxfQ==       3.0        2.0  1300000.0
2  kA1uUfkh5e8aF9aCVzUbrA==       4.0        3.0  1250000.0
3  3pYYkhTe9FQbflza7C9EnQ==       1.0        1.0  8228766.0
4  QbZ7RsqO5WEFBHTejLDW5w==       1.0        1.0  2900000.0
5  qN9lMDQ3uxxELIzmeB+oKg==       2.0        2.0   330000.0
6  0acGF/2HcoUzzoqmCMdTnQ==       2.0        3.0   500000.0
7  aK8YQmEZkbMdf7eOYTka5w==       3.0        3.0   550000.0
8  UE8hPxG1VUSFg8IFexj6zQ==       3.0        2.0   416800.0
9  3l0RfMrJh4v53riOmSUgVQ==       2.0        2.0   333000.0

# 6.Calculate the cumulative price for each property type, ordered by the creation date.

In [61]:
# Query 6: Calculate the cumulative price for each property type, ordered by the creation date.
query6 = """
SELECT PD.l3, SUM(PPD.price) AS cumulative_price
FROM Property_Details PD
JOIN Property_Price_Details PPD ON PD.id = PPD.id
GROUP BY PD.l3
ORDER BY cumulative_price DESC
LIMIT 10;
"""

# Executing the corrected query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results6 = connection.execute(text(query6))
    df6 = pd.DataFrame(results6.fetchall(), columns=results6.keys())

# Printing the resulting DataFrame
print("\nCorrected Query 6 Results:")
print(df6)

Corrected Query 6 Results:
              l3  cumulative_price
0        Rosario      2.944513e+09
1          Tigre      2.096580e+09
2        Palermo      1.043479e+09
3       Belgrano      7.469260e+08
4       Recoleta      4.515778e+08
5     San Isidro      4.465915e+08
6  Puerto Madero      4.325650e+08
7           None      4.214037e+08
8  Vicente López      3.550181e+08
9          Pilar      2.915125e+08

# 7.Identify the 10 locations (l3) with the highest total surface area (sum of surface_total) of properties listed for sale (operation_type = 'Venta')

In [62]:
# Query 7: Identify the 10 locations (l3) with the highest total surface area (sum of surface_total) of properties listed for sale (operation_type = 'Venta')
query7 = """
SELECT PD.l3, SUM(PD.surface_total) AS total_surface_area
FROM Property_Details PD
GROUP BY PD.l3
ORDER BY total_surface_area DESC
LIMIT 10;
"""

# Executing the corrected query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results7 = connection.execute(text(query7))
    df7 = pd.DataFrame(results7.fetchall(), columns=results7.keys())

# Printing the resulting DataFrame
print("\nCorrected Query 7 Results:")
print(df7)

Corrected Query 7 Results:
              l3  total_surface_area
0          Tigre            685156.0
1        Palermo            400917.0
2        Rosario            373962.0
3          Pilar            325770.0
4       Belgrano            292117.0
5     San Isidro            278717.0
6       La Plata            200705.0
7       Recoleta            194273.0
8  Vicente López            192791.0
9        Escobar            183240.0

# 8.Find the top 5 most expensive properties in "Palermo" (l3) listed in August 2020

In [63]:
# Query 8: Find the top 5 most expensive properties in "Palermo" (l3) listed in August 2020
query8 = """
SELECT PD.*
FROM Property_Details PD
JOIN Property_Price_Details PPD ON PD.id = PPD.id
WHERE PD.l3 = 'Palermo' AND strftime('%Y-%m', PD.created_on) = '2020-08'
ORDER BY PPD.price DESC
LIMIT 5;
"""

# Executing the query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results8 = connection.execute(text(query8))
    df8 = pd.DataFrame(results8.fetchall(), columns=results8.keys())

# Printing the resulting DataFrame
print("\nQuery 8 Results:")
print(df8)

Query 8 Results:
Empty DataFrame
Columns: [id, start_date, end_date, created_on, lat, lon, l1, l2, l3, rooms, bedrooms, bathrooms, surface_total, surface_covered]
Index: []

# 9.Find the top 3 properties with the highest price per square meter within each property type.

In [64]:
# Query 9: Find the top 3 properties with the highest price per square meter within each property type.
query9 = """
WITH RankedProperties AS (
    SELECT PD.*, PPD.price / PD.surface_total AS price_per_sqm,
        ROW_NUMBER() OVER (PARTITION BY PD.l1, PD.l2, PD.l3 ORDER BY PPD.price / PD.surface_total DESC) AS rank
    FROM Property_Details PD
    JOIN Property_Price_Details PPD ON PD.id = PPD.id
)
SELECT *
FROM RankedProperties
WHERE rank <= 3;
"""

# Executing the corrected query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results9 = connection.execute(text(query9))
    df9 = pd.DataFrame(results9.fetchall(), columns=results9.keys())

# Printing the resulting DataFrame
print("\nCorrected Query 9 Results:")
print(df9)

Corrected Query 9 Results:
                           id  start_date    end_date  created_on  \
0    H0DWEHr6cMhLvuYjNGpv9Q==   3/12/2020   11/4/2020   3/12/2020
1    D/E5B1tLSnZaZcTAKxJMJA==   2/29/2020  12/29/2020   2/29/2020
2    Byq3NAYNqOsbGAxjMjXr3Q==  11/20/2020  12/31/9999  11/20/2020
3    z+uGEZk910DKkHpKUPjC0w==   9/16/2020  12/31/9999   9/16/2020
4    0hixva1Odb0br1/h8dGs6g==   11/2/2020  12/31/9999   11/2/2020
..                        ...         ...         ...         ...
709  AC//aem/+v46tK1sNAwgbA==   2/23/2020  12/31/9999   2/23/2020
710  MGoxPTd+vbdf449jD+fBmg==   12/7/2020  12/31/9999   12/7/2020
711  zhRSI6sN9p+jAsPNG0rYnQ==   5/23/2020   6/25/2020   5/23/2020
712  c8U9PZFXTLTpAA0aRRdQ+A==   12/7/2020   12/9/2020   12/7/2020
713  hjFJA3hbVhdt1UWzAem05Q==   10/9/2020  10/21/2020   10/9/2020

              lat           lon         l1                        l2  \
0     -27.4269255   -55.9467076  Argentina  Bs.As. G.B.A. Zona Norte
1     -32.3249996   -61.6326593  Argentina  Bs.As. G.B.A. Zona Norte
2     -34.4014609   -58.7343651  Argentina  Bs.As. G.B.A. Zona Norte
3     -34.4010072   -58.7594977  Argentina  Bs.As. G.B.A. Zona Norte
4     -34.4442172   -58.7409364  Argentina  Bs.As. G.B.A. Zona Norte
..            ...           ...        ...                       ...
709   -34.7274469   -54.3982485    Uruguay                     Rocha
710   -34.6508919   -54.1728703    Uruguay                     Rocha
711   -34.6589562   -54.1958759    Uruguay                     Rocha
712   -34.6508919   -54.1728703    Uruguay                     Rocha
713  -34.78731122  -54.54161416    Uruguay                     Rocha

            l3 rooms  bedrooms  bathrooms  surface_total  surface_covered  \
0         None   2.0       1.0        1.0          200.0            170.0
1         None     5       3.0        2.0          205.0            130.0
2      Escobar    10       5.0        4.0          594.0            512.0
3      Escobar   4.0       3.0        2.0          229.0            229.0
4      Escobar   3.0       2.0        2.0           90.0             73.0
..         ...   ...       ...        ...            ...              ...
709       None   5.0       5.0        5.0          450.0            450.0
710  La Paloma   4.0       3.0        2.0          163.0            163.0
711  La Paloma   6.0       4.0        2.0          177.0            177.0
712  La Paloma   4.0       3.0        2.0          163.0            163.0
713      Rocha   2.0       1.0        1.0           75.0             40.0

     price_per_sqm  rank
0      1175.000000     1
1       634.146341     2
2      7575.757576     1
3      3362.445415     2
4      2777.777778     3
..             ...   ...
709    3333.333333     3
710    1748.466258     1
711    1175.141243     2
712       1.104294     3
713       1.066667     1

[714 rows x 16 columns]

# 10.Find the top 3 locations (l1, l2, l3) with the highest average price per square meter (price / surface_total) for properties listed for sale in the year 2020. Exclude locations with fewer than 10 properties listed for sale in 2020 from the results.

In [65]:
# Query 10: Find the top 3 locations (l1, l2, l3) with the highest average price per square meter (price / surface_total) for properties listed for sale in the year 2020. Exclude locations with fewer than 10 properties listed for sale in 2020 from the results.
query10 = """
SELECT PD.l1, PD.l2, PD.l3, AVG(PPD.price / PD.surface_total) AS avg_price_per_sqm
FROM Property_Details PD
JOIN Property_Price_Details PPD ON PD.id = PPD.id
WHERE strftime('%Y', PD.created_on) = '2020'
GROUP BY PD.l1, PD.l2, PD.l3
HAVING COUNT(*) >= 10
ORDER BY avg_price_per_sqm DESC
LIMIT 3;
"""

# Executing the corrected query and retrieve the results into a DataFrame
with engine.connect() as connection:
    results10 = connection.execute(text(query10))
    df10 = pd.DataFrame(results10.fetchall(), columns=results10.keys())

# Printing the resulting DataFrame
print("\nCorrected Query 10 Results:")
print(df10)

Corrected Query 10 Results:
Empty DataFrame
Columns: [l1, l2, l3, avg_price_per_sqm]
Index: []

# Section 3

# Certainly, here are the Flask server setup and API endpoints for all ten questions:

# Install Flask

In [66]:
!pip install Flask

Requirement already satisfied: Flask in /usr/local/lib/python3.10/dist-packages (2.2.5)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask) (2.3.7)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask) (2.1.3)

# Waitress is a pure-Python WSGI server for web applications.
# It's a lightweight and efficient choice for serving web applications built with frameworks like Flask.

In [67]:
!pip install waitress

Requirement already satisfied: waitress in /usr/local/lib/python3.10/dist-packages (2.1.2)

## Pyngrok is a Python wrapper for ngrok, a tool that exposes local services to the internet securely.

In [68]:
!pip install pyngrok --upgrade

Requirement already satisfied: pyngrok in /usr/local/lib/python3.10/dist-packages (7.0.0)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from pyngrok) (6.0.1)

# Terminate all running ngrok processes by sending a kill signal.

In [69]:
!pkill ngrok

# List the process IDs (PIDs) of running ngrok processes.

In [70]:
!pgrep ngrok

#Install pyngrok

In [71]:
!pip install pyngrok

Requirement already satisfied: pyngrok in /usr/local/lib/python3.10/dist-packages (7.0.0)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from pyngrok) (6.0.1)

#Import pyngrok and Set Authentication Token

In [72]:
from pyngrok import ngrok
ngrok.set_auth_token("2VuwKug3BC1SZqmGFpG05befPiR_4tigLjSPbWmKT7wf4VJKj")

#Connect to ngrok and Get Public URL

In [73]:
port_no = 5000
public_url = ngrok.connect(port_no).public_url
print(public_url)

WARNING:pyngrok.process.ngrok:t=2023-09-26T06:18:13+0000 lvl=warn msg="ngrok config file found at legacy location, move to XDG location" xdg_path=/root/.config/ngrok/ngrok.yml legacy_path=/root/.ngrok2/ngrok.yml

https://d96c-35-245-156-58.ngrok-free.app

#  HTML Template for Displaying Data in a Table Format

In [74]:
html_template = """
    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Optional custom styles */
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>{{ intro_text }}</h3>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Add Bootstrap JS and jQuery scripts (for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
    """

# This Flask application defines routes to answer questions and display data in HTML tables, and serves the application using Waitress on a specified port. It also includes a graceful shutdown mechanism.

In [75]:
from flask import Flask, render_template_string, jsonify,Response
import pandas as pd
from waitress import serve
import os
import signal

app = Flask(__name__)#  Importing Flask and Define a Flask App

# HTML template
html_template = """
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Optional custom styles */
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>{{ intro_text }}</h3>
        {{ table_html | safe }}
    </div>
    <!-- Add Bootstrap JS and jQuery scripts (for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
"""
# Defining a Route and a Function
# route handles and responds with a plain text answer
@app.route('/', methods=['GET'])
def questions():
    questions = """
    <html>
    <head>
        <style>
            /* Add CSS styling for the text */
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                margin: 20px;
            }

            h1 {
                font-size: 24px;
                color: #333;
            }

            p {
                font-size: 16px;
                margin-bottom: 20px;
            }

            /* Add additional styling as needed */
        </style>
    </head>
    <body>
        <h1>Section-3:Expose the results in API for the 10 questions in Section 2 and printing the results as the API response.</h1>
        <p>How to open URL: localhost:7700/question-1</p>
        <h2>Questions:</h2>
        <ol>
            <li><a href="/question-1">Retrieve properties that have a price greater than 1 million and are located in "Estados Unidos" (l1).</a></li>
            <li><a href="/question-2">Categorize properties based on their surface area as 'Small' if it's less than 50 square meters, 'Medium' if it's between 50 and 100 square meters, and 'Large' if it's greater than 100 square meters.</a></li>
            <li><a href="/question-3">List all properties (id) in the 'Belgrano' neighborhood (l3) that have the same number of bedrooms and bathrooms as another property in the dataset:.</a></li>
            <li><a href="/question-4">Calculate the average price per square meter (price / surface_total) for each property type (property_type) in the 'Belgrano' neighborhood (l3).</a></li>
            <li><a href="/question-5">Identify properties that have a higher price than the average price of properties with the same number of bedrooms and bathrooms.</a></li>
            <li><a href="/question-6">Calculate the cumulative price for each property type, ordered by the creation date.</a></li>
            <li><a href="/question-7">Identify the 10 locations (l3) with the highest total surface area (sum of surface_total) of properties listed for sale (operation_type = 'Venta').</a></li>
            <li><a href="/question-8">Find the top 5 most expensive properties (based on price) in the 'Palermo' neighborhood (l3) that were listed in August 2020.</a></li>
            <li><a href="/question-9">Find the top 3 properties with the highest price per square meter (price divided by surface area) within each property type.</a></li>
            <li><a href="/question-10">Find the top 3 locations (l1, l2, l3) with the highest average price per square meter (price / surface_total) for properties listed for sale (operation_type = 'Venta') in the year 2020. Exclude locations with fewer than 10 properties listed for sale in 2020 from the results.</a></li>
        </ol>
    </body>
    </html>
    """
    return Response(questions, mimetype='text/html')

@app.route('/question-1', methods=['GET'])
def question_1():
    # Converting the DataFrame to a string and return it
    q1 = "Retrieve properties that have a price greater than 1 million and are located in \"Estados Unidos\" (l1)."
    df1_string = df1.to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q1, table_html=df1_string)

@app.route('/question-2', methods=['GET'])
def question_2():
    # Converting the DataFrame to a string and return it
    q2 = "Categorize properties based on their surface area as 'Small' if it's less than 50 square meters, 'Medium' if it's between 50 and 100 square meters, and 'Large' if it's greater than 100 square meters."
    df2_string = df2.head(50).to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q2, table_html=df2_string)

@app.route('/question-3', methods=['GET'])
def question_3():
    # Converting the DataFrame to a string and return it
    q3 = "• List all properties (id) in the 'Belgrano' neighborhood (l3) that have the same number of bedrooms and bathrooms as another property in the dataset."
    df3_string = df3.to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q3, table_html=df3_string)

@app.route('/question-4', methods=['GET'])
def question_4():
    # Converting the DataFrame to a string and return it
    q4 = "• Calculate the average price per square meter (price / surface_total) for each property type (property_type) in the 'Belgrano' neighborhood (l3)."
    df4_string = df4.to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q4, table_html=df4_string)

@app.route('/question-5', methods=['GET'])
def question_5():
    # Converting the DataFrame to a string and return it
    q5 = "• Identify properties that have a higher price than the average price of properties with the same number of bedrooms and bathrooms.<br><br>Since the output dataframe is so huge, we are printing first 50 rows of result"
    df5_string = df5.head(50).to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q5, table_html=df5_string)

@app.route('/question-6', methods=['GET'])
def question_6():
    # Converting the DataFrame to a string and return it
    q6 = "• Calculate the cumulative price for each property type, ordered by the creation date."
    df6_string = df6.head(50).to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q6, table_html=df6_string)

@app.route('/question-7', methods=['GET'])
def question_7():
    # Converting the DataFrame to a string and return it
    q7 = "• Identify the 10 locations (l3) with the highest total surface area (sum of surface_total) of properties listed for sale (operation_type = 'Venta')."
    df7_string = df7.to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q7, table_html=df7_string)

@app.route('/question-8', methods=['GET'])
def question_8():
    # Converting the DataFrame to a string and return it
    q8 = "• Find the top 5 most expensive properties (based on price) in the 'Palermo' neighborhood (l3) that were listed in August 2020:"
    df8_string = df8.to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q8, table_html=df8_string)

@app.route('/question-9', methods=['GET'])
def question_9():
    # Converting the DataFrame to a string and return it
    q9 = "• Find the top 3 properties with the highest price per square meter (price divided by surface area) within each property type."
    df9_string = df9.to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q9, table_html=df9_string)

@app.route('/question-10', methods=['GET'])
def question_10():
    # Converting the DataFrame to a string and return it
    q10 = "• Find the top 3 locations (l1, l2, l3) with the highest average price per square meter (price / surface_total) for properties listed for sale (operation_type = 'Venta') in the year 2020. Exclude locations with fewer than 10 properties listed for sale in 2020 from the results."
    df10_string = df10.to_html(classes='table table-bordered table-striped', index=False)  # Converting DataFrame to HTML
    return render_template_string(html_template, intro_text=q10, table_html=df10_string)


@app.route('/shutdown', methods=['GET'])
def shutdown_server():
    print("Shutting down server...")
    os.kill(os.getpid(), signal.SIGINT)  # Sending a SIGINT signal to gracefully stop the server
    return 'Server shutting down...'

if __name__ == '__main__':
   print("Server started , Bonus: Ngrok HTTP share-")
   print(public_url)
   serve(app,port=port_no)

Server started , Bonus: Ngrok HTTP share-
https://d96c-35-245-156-58.ngrok-free.app